<% include ../layouts/header %>

<div class="container container-fluid mt-3 text-dark text-center">
    <div class="heading-1 bold">Attendance</div>
    <div class="heading-3 bold mb-3">Batch: <%= batch %></div>
    <% include ../layouts/messages %>

    <div class="d-flex justify-content-center">
        <form action="/attendance?batch=<%= batch %>&date=<%= date %>" method="POST">
            <div class="row text-center d-flex flex-column">
                <div class="form-group mb-5">
                    <label class="bold mb-0" for="date">Date</label>
                    <div class="heading-4 mt-0 date"><%= date %>></div>
                </div>
                <% let attended = 0; let total = 0; %>
                <div class="form-group row text-center table-responsive mx-auto">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Sr. No.</th>
                                <th scope="col">Name</th>
                                <th scope="col">Present</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(students.length) { %>
                            <% let sr = 1; %>
                            <% students.forEach(student => { total += 1; %>
                            <tr>
                                <td scope="row"><%= sr %></td>
                                <td scope="row"><%= student.name %></td>
                                <td>
                                    <!-- Thanks to: https://stackoverflow.com/a/25764926/8068699 for the checkbox hack -->
                                    <% if(typeof(student.attendance) == 'undefined') { %>
                                    <!-- Take attendance -->
                                    <input type="hidden" name="<%= student.id %>" value="<%= ABSENT %>"><input
                                        type="checkbox"
                                        onclick="this.previousSibling.value=(this.previousSibling.value=='<%= PRESENT %>')?'<%= ABSENT %>':'<%= PRESENT %>'">
                                    <% } else { %>
                                    <!-- View attendance -->
                                    <% let present = false;
                                    for (let i = 0; i < student.attendance.length; i++) {
                                        if(String(student.attendance[i].date) == String(date)) {
                                            present = true;
                                            break;
                                        }
                                    }
                                    if (present) { attended += 1; %>
                                    <input type="hidden" name="<%= student.id %>" value="<%= PRESENT %>"><input
                                        type="checkbox"
                                        onclick="this.previousSibling.value=(this.previousSibling.value=='<%= PRESENT %>')?'<%= ABSENT %>':'<%= PRESENT %>'"
                                        checked>
                                    <% } else { %>
                                    <input type="hidden" name="<%= student.id %>" value="<%= ABSENT %>"><input
                                        type="checkbox"
                                        onclick="this.previousSibling.value=(this.previousSibling.value=='<%= PRESENT %>')?'<%= ABSENT %>':'<%= PRESENT %>'">
                                    <% } %>
                                    <% } %>
                                </td>
                                <% sr += 1 %>
                            </tr>
                            <% }); %>
                            <% } else { %>
                            <tr>
                                <td colspan="3" class="text-center"><%= error %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="mt-3 pl-4 pr-4"><span class="bold">Number of students attended:</span> <%= attended %></div>
                <div class="my-0 pl-4 pr-4"><span class="bold">Total number of students:</span> <%= total %></div>
                <div class="mb-3 pl-4 pr-4"><span class="bold">Attendance percentage:</span>
                    <%= Math.round(attended/total * 100 * 100) / 100 %>%</div>
                <button type="submit" class="btn btn-outline-danger pl-4 pr-4">Save</button>
                <button class="btn btn-outline-success pl-4 pr-4 my-3" onclick="window.history.back()">Back</a>
            </div>
        </form>
    </div>
</div>

<% include ../layouts/footer %>

<script>
    var date = new Date((new Date()).setUTCHours(0,0,0,0));
    var dateInput = $('#date-input');
    var dateString =
        String(date.getFullYear()) + '-' +
        String(date.getMonth() + 1).padStart(2, '0') + '-' +
        String(date.getDate()).padStart(2, '0');
    dateInput.attr("value", dateString);
    dateInput.attr("max", dateString);
</script>