<% include ../layouts/header %>

<div class="container container-fluid mt-3 text-dark text-center">
    <div class="row">
        <div class="container container-fluid d-flex flex-column align-items-center justify-content-around">
            <% include ../layouts/messages %>
            <div class="heading-3 bold">Batch: <span class="para-1 mb-4"><%= batch %></span></div>
            <div class="heading-3 bold">Start Date: <span class="para-1 mb-4 date"><%= startDate %></span></div>
            <div class="heading-3 bold">End Date: <span class="para-1 mb-4 date"><%= endDate %></span></div>
            <div class="heading-3 bold">Total Number of Days: <span class="para-1 mb-4"><%= dates.length %></span></div>
            <% let sr = 0; %>
            <div class="row text-center table-responsive mx-auto">
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col">Sr. No.</th>
                        <th scope="col">Name</th>
                        <% dates.forEach(date => { %>
                        <th scope="col" class="date"><%= date %></th>
                        <% }); %>
                        <th scope="col">Attendance</th>
                        <th scope="col">Total Days</th>
                        <th scope="col">Percentage</th>
                        <th scope="col">Name</th>
                        <!-- Just so that it is easy to see the name and % side by side -->
                    </tr>
                </thead>
                <tbody>
                    <% if (students.length) { %>
                    <% students.forEach(student => { sr ++; %>
                    <tr>
                        <td scope="col"><%= sr %></td>
                        <td scope="col"><%= student.name %></td>

                        <% let present = 0; let total = 0;
                        dates.forEach(date => {
                            let status = ABSENT;
                            let created = new Date(student.created);
                            let deleted = new Date(student.deleted);
                            date = new Date(date);
                            if((date < created) || (date >= deleted)) {
                                status = '';
                            } else {
                                total += 1;
                                for (let i = 0; i < student.attendance.length; i++) {
                                    if(student.attendance[i] == String(date)) {
                                        status = PRESENT;
                                        present += 1;
                                        break;
                                    }
                                }
                            } %>
                        <td scope="col"><%= status %></td>
                        <% }); %>

                        <td scope="col"><%= present %></td>
                        <td scope="col"><%= total %></td>
                        <td scope="col"><%= Math.round(present/total * 100 * 100) / 100 %> %</td>
                        <td scope="col"><%= student.name %></td>
                    </tr>
                    <% }); %>
                    <% } else { %>
                    <tr>
                        <td colspan="<%= dates.length + 4 %>" class="text-center"><%= error %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>

<% include ../layouts/footer %>