<% include ../layouts/header %>

<div class="container container-fluid mt-3 text-dark text-center">
    <div class="row">
        <div class="col-md-1 col-lg-2 col-xl-3"></div>
        <div class="col-md-10 col-lg-8 col-xl-6 d-flex flex-column align-items-center justify-content-around">
            <% include ../layouts/messages %>
            <div class="heading-3 bold">Name: <span class="para-1 mb-4"><%= student.name %></span></div>
            <div class="heading-3 bold">Phone Number: <span class="para-1 mb-4 phone_number"><%= student.phone_number %></span></div>
            <div class="heading-3 bold">Batch: <span class="para-1 mb-4"><%= student.batch %></span></div>
            <div class="heading-3 bold">Created: <span class="para-1 mb-4 date"><%= student.created %></span></div>
            <div class="heading-3 bold">Deleted: <span class="para-1 mb-4 date"><%= student.deleted %></span></div>
            <% let present = 0; let total = 0; %>
            <div class="row text-center table-responsive mx-auto">
                <table class="table">
                    <caption style="caption-side: top;" class="text-center heading-3 bold">Attendance (Lifetime)
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <% if (dates) { %>
                    <tbody>
                        <% dates.forEach(date => { total ++; %>
                        <tr>
                            <td class="date"><%= date %></td>
                            <% if(attendance.includes(date)) { present ++; %></td>
                            <td><%= PRESENT %></td>
                            <% } else { %>
                            <td><%= ABSENT %></td>
                            <% } %>
                        </tr>
                        <% }); %>
                    </tbody>
                    <% } %>
                </table>
            </div>
            <div class="mt-3 pl-4 pr-4"><span class="bold">Number of days attended:</span> <%= present %></div>
            <div class="my-0 pl-4 pr-4"><span class="bold">Total number of days:</span> <%= total %></div>
            <div class="mb-3 pl-4 pr-4"><span class="bold">Attendance percentage:</span>
                <%= Math.round(present/total * 100 * 100) / 100 %> %</div>
        </div>
        <div class="col-md-1 col-lg-2 col-xl-3"></div>
    </div>
</div>

<% include ../layouts/footer %>