<% include ../layouts/header %>

<div class="container container-fluid mt-3 text-dark text-center">
    <div class="heading-1 bold mb-3">All Students</div>
    <% include ../layouts/messages %>
    <div class="row text-center">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Batch</th>
                    <th scope="col">Created</th>
                    <th scope="col">Deleted</th>
                </tr>
            </thead>
            <tbody>
                <% if (students.length != 0) { %>
                <% let sr = 1; %>
                <% let batch = ''; %>
                <% students.forEach(student => { %>
                <tr>
                    <% if(batch != student.batch) { sr = 1; batch = student.batch; } %>
                    <td scope="row"><%= sr %></td>
                    <td scope="row"><%= student.name %></td>
                    <td scope="row"><%= student.batch %></td>
                    <td scope="row" class="date"><%= student.created %></td>
                    <td scope="row" class="date"><%= student.deleted %></td>
                    <% sr += 1 %>
                </tr>
                <% }); %>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<% include ../layouts/footer %>